.map_canvas {
    position: relative;
    height: 450px;
    margin: 0 -20px -20px;
    width: calc(100% + 40px);
    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: transparent !important;
    }
}