//== Colors
//
$white: #FFFFFF;
$whitesmoke: #F5F5F5;
$darkGray: #222222;
$sidbarGray: #303030;
$navLink: #9d9d9d;

//== Screens
//
$mobile-small: 320px;
$mobile-middle: 480px;
$mobile: 767px;
$tablet-small: 991px;
$tablet: 1199px;
$desktop: 1200px;

//== Screen heights
//
$larger-height: 900px;
$normal-height: 768px;

//== Duration
//
$duration: 0.75s;